<div class="outer-display">
    <input class="textarea" [value]="calculateString" readonly>
<div class="main-display">
    <div class="keypad">
      <button class="keys" (click)="addToList('+')">+</button>
      <button class="keys" (click)="addToList('-')">-</button>
      <button class="keys" (click)="addToList('/')">/</button>
      <button class="keys" (click)="addToList('*')">*</button>
      <button class="keys" (click)="addToList('(')">(</button>
      <button class="keys" (click)="addToList(')')">)</button>
      <button class="keys" (click)="addToList('1')">1</button>
      <button class="keys" (click)="addToList('2')">2</button>
      <button class="keys" (click)="addToList('3')">3</button>
      <button class="keys" (click)="addToList('4')">4</button>
      <button class="keys" (click)="addToList('5')">5</button>
      <button class="keys" (click)="addToList('6')">6</button>
      <button class="keys" (click)="addToList('7')">7</button>
      <button class="keys" (click)="addToList('8')">8</button>
      <button class="keys" (click)="addToList('9')">9</button>
      <button class="keys" (click)="addToList('0')">0</button>
      <button class="keys" (click)="clearList()">clear</button>
      <button class="keys" (click)="doCalculate()">=</button>
    </div>
  </div>
  <textarea class="history-text" readonly></textarea>
</div>
